@import "tailwindcss";

:root {
  --background: #312e2a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@theme {
  --color-primary: #312e2a;
  --color-secondary: #272422;
  --color-button-primary: #81b74d;
  --color-button-secondary: #444241;
  --color-black: #151513;
}
